body {
  /* font-family: "PT Serif", Georgia, "Times New Roman", serif; */
  line-height: 1.7em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Sans Narrow", sans-serif;
}
code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
  background-color: #f7f7f7;
}
